*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura, sans-serif;
    scroll-behavior: smooth;
    margin-right: 0;
}

html, body {
    overflow-x: hidden;
}

body{
    background: #68ACE5;
    color: #231F20;
}

.container{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #231F20;
    border: #170101 solid 6px;

}

.bluejay {
    flex: 0 1 auto;
    max-height: 80px; 
    min-width: 0; 
    overflow: hidden; 
    width: clamp(50px, 5vw, 80px); 
    height: clamp(50px, 5vw, 80px);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: clamp(5px, 2vw, 25px);
    font-size: auto;
    flex-wrap: wrap;
    flex-shrink: 1;
    font-size: clamp(12px, 2vw, 22px);
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    transition: .4s;
    font-size: clamp(16px, 2vw, 22px);
}

a:hover{
    color: #002D72;
    transition: 0.4s;
}

.description{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px;
}

#me {
    max-width: 500px;  
    width: clamp(250px, 50vw, 500px); 
    border-radius: 50%;
    margin-left: 2vw auto;
    border: #231F20 solid 2px;
    height: auto;
    box-sizing: border-box;
}

#firstName{
    color:#002D72;
    font-size: 50px;
    border-top: 3px solid #231F20;
    z-index: 1;
}

#firstName:hover,#lastName:hover{
    color: #fff;
    transition: 0.4s;
}

#lastName{
    color:#002D72;
    font-size: 50px;
    border-bottom: 3px solid #231F20;
    z-index: 1;
    margin-left: 62.35%;
}

.projectSection{
    background: #fff;
    padding: 2vw;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0px 0px 10px 4px #002D72;
    border-radius: 15px;
    padding-bottom: 10%;
    margin-bottom: 3%;
}

#projectsTitle{
    position: relative;
    text-align: center;
    color: #231F20;
}

.projectsBody {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.card-container {
    position: relative;
    max-width: calc(50% - 4%); /* Adjust based on the number of cards per row */
    margin-top: 4%;
    margin-left: 2%;
}

.projCard {
    max-height: 360px;
    width: 100%;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px #231F20;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.8);
    border-radius: 4px; /* Match the border-radius of the image */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textTitle{
    color: white;
    font-size: 20px;
    text-align: left;
}

.text {
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 30px;

}

.card-container:hover .overlay {
    opacity: 1;
}



hr {
    width: 30%;
    border:none;

    background-color: #fff;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
}

.bottom{
    text-align:center;
    color:#231F20;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;

}

#linkedin-logo{
    align-items: center;
    height: 65px;
    border: 1px solid transparent;
    border-radius: 15px; 
    padding: 4px;
    transition: .4s;
}

#linkedin-logo:hover{
    transition: .4s;
    border-color: #fff;
    background-color: #fff;
}

