*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura, sans-serif;
    scroll-behavior: smooth;
    margin-right: 0;
}

html, body {
    overflow-x: hidden;
}

body{
    background: #68ACE5;
    color: #231F20;
}

.container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #231F20;
    border: #170101 solid 6px;
    box-shadow: 10px 10px 10px #fff;
}

.bluejay{
    max-height: 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 25px;
    font-size: auto;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    transition: .4s;
}

a:hover{
    color: #002D72;
    transition: 0.4s;
}

#me {
    height: 500px; 
    border-radius: 50%;
    margin-left: 10%;
    border: #002D72 solid 2px;
}

.description{
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#firstName{
    color:#002D72;
    font-size: 50px;
    border-top: 3px solid #231F20;
    z-index: 1;
}

#firstName:hover,#lastName:hover{
    color: #fff;
    transition: 0.4s;
}

#lastName{
    color:#002D72;
    font-size: 50px;
    border-bottom: 3px solid #231F20;
    z-index: 1;
    margin-left:62.35%;
}




hr {
    width: 30%;
    border:none;

    background-color: #fff;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
}






.bottom{
    text-align:center;
    color:#231F20;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;

}

#linkedin-logo{
    align-items: center;
    height: 65px;
    border: 1px solid transparent;
    border-radius: 15px; 
    padding: 4px;
    transition: .4s;
}

#linkedin-logo:hover{
    transition: .4s;
    border-color: #fff;
    background-color: #fff;
}

